<div class="form-container">
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Clasificación del juego</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Type here...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mécanica</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Type here..." required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Reglas</label>
            <div class="col-sm-10">
                <textarea class="text-2" type="text" class="form-control" placeholder="Type here..." required></textarea>
            </div>
        </div>
    </form>
</div>
