<div class="form-container">
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="name gameplay">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Código</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="codigo" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
                <textarea class="text-2" type="text" class="form-control" placeholder="Type the description here." required></textarea>
            </div>
        </div>
    </form>
</div>
