<div class="container">
    <div class="row">
        <div class="col -md-8 mt-4">
            <ul class="list-group">
                <li *ngFor="let character of characters" class="list-group-item list-group-item-action" (click)="Select(character)" [class.active]="character==fcharacter">
                    <span class="badge badge-primary"> #</span>{{ character.id}}
                    <span class="badge badge-primary"> Nombre</span>{{ character.nombre }}
                    <span class="badge badge-primary">Raza</span> {{ character.raza }}
                    <span class="badge badge-primary"> Edad</span>{{ character.edad }}
                    <span class="badge badge-primary"> Habilidades</span> {{ character.habilidades }}
                    <span class="badge badge-primary"> Aspecto</span> {{ character.aspecto }}
                    <span class="badge badge-primary"> Historia</span> {{ character.historia }}
                </li>
            </ul>
            <button (click)="showForm()" class="btn btn-primary" *ngIf="ButtomAddCharacter">Adicionar un nuevo personaje</button>

            <div class="form-container-2 " *ngIf="Form">
                <div class="card-title ">
                    <h1 id="h1-menu ">Personajes</h1>
                </div>
                <div class="form-group row ">
                    <label class="col-sm-2 col-form-label ">Nombre personaje</label>
                    <div class="col-sm-10 ">
                        <input type="text " [(ngModel)]="fcharacter.nombre" class="form-control " placeholder="Type here... " required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label ">Raza</label>
                    <div class="col-sm-10 ">
                        <input type="text " [(ngModel)]="fcharacter.raza" class="form-control " placeholder="Type here... " required>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-sm-2 col-form-label ">Edad</label>
                    <div class="col-sm-10 ">
                        <input type="text " [(ngModel)]="fcharacter.edad" class="form-control " placeholder="Type here... " required>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-sm-2 col-form-label ">Habilidades</label>
                    <div class="col-sm-10 ">
                        <input type="text " [(ngModel)]="fcharacter.habilidades" class="form-control " placeholder="Type here... " required>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-sm-2 col-form-label ">Aspecto</label>
                    <div class="col-sm-10 ">
                        <input type="text " [(ngModel)]="fcharacter.aspecto" class="form-control " placeholder="Type here... " required>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-sm-2 col-form-label ">Historia</label>
                    <div class="col-sm-10 ">
                        <input type="text " [(ngModel)]="fcharacter.historia" class="form-control " placeholder="Type here... " required>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!formValid">
                    Por favor diligencie todos los campos!!
                </div>
                <button (click)="update ? UpdateCharacter() : CreateCharacter()" class="btn btn-primary ">{{ accion }}</button>
                <button class="btn btn-danger " *ngIf="DeleteButton" (click)="delete(fcharacter.id) ">Delete</button>
            </div>
        </div>



    </div>
