
<div class="container-fluid">
  <div class="row">
    <div class="left-container col-sm-6 ">
        <h1>Bienvenidos al portal web secepa.com!!</h1>
    </div>
    <div class="right-container col-sm-6">
        <app-menu></app-menu>
    </div>
  </div>
</div>
