<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <h1 id="Panel"> Definir concepto </h1>
    <p id="Panel">Menu para realizar la definicion de concepto del videojuego</p>

    <div class="card-container-h">
        <a class="card" target="_blank" (click)="ShowAspectGame()">
            <span>Aspecto del juego</span>
        </a>

        <a class="card" target="_blank" *ngIf="!gameaspect">
            <span>Aspecto tecnico del juego</span>
        </a>
        <a class="card" target="_blank" *ngIf="!gameaspect">
            <span>Aspecto del negocio</span>
        </a>
        <!--<label class="col-sm-2 col-form-label">Nombre del juego</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Type here..." required>
        </div>-->
    </div>


    <div class="card-container-h" *ngIf="gameaspect">

        <a class="card" target="_blank" (click)="ModGameplay()" *ngIf="(gameplay&&!genre&&!players)||(!gameplay&&!genre&&!players)">
            <span>GAMEPLAY</span>
        </a>
        <a class="card" target="_blank" (click)="ModGenre()" *ngIf="(!gameplay&&genre&&!players)||(!gameplay&&!genre&&!players)">
            <span>GENERO</span>
        </a>
        <a class="card" target="_blank" (click)="ModPlayers()" *ngIf="(!gameplay&&!genre&&players)||(!gameplay&&!genre&&!players)">
            <span>PERSONAJES</span>
        </a>





    </div>

    <label class="align-content-start" *ngIf="gameaspect&&!gameplay&&!genre&&!players">Descripción, Historia y ambientación:</label>
    <textarea class="text-2" placeholder="Type here" required *ngIf="gameaspect&&!gameplay&&!genre&&!players"></textarea>


    <div class="row" *ngIf="gameplay">
        <app-gameplay></app-gameplay>
    </div>
    <div class="row" *ngIf="genre">
        <app-genre></app-genre>
    </div>
    <div class="row" *ngIf="players">
        <app-characters></app-characters>
    </div>


    <div class="button-x">
        <button type="button" class="btn btn-dark" (click)="back()" *ngIf="gameaspect">Atras</button>
        <button type="button" class="btn btn-success" *ngIf="gameaspect" data-toggle="modal" data-target="#exampleModal" (click)="save()">Guardar</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mensaje Emergente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                {{Mensaje}} se guardó exitosamente!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">OK</button>
            </div>
        </div>
    </div>
</div>
