<br>
<h1 id="h1-menu" >MENÚ</h1>
<div class="card-container">
    <a class="card" [routerLink]="['/defconcept']" routerLinkActive="active">
        <span>Definir concepto</span>
    </a>
    <a class="card" target="_blank">
        <span>Definir planificación</span>
    </a>
    <a class="card" target="_blank">
        <span>Definir elaboración</span>
    </a>
    <a class="card" target="_blank">
        <span>Definir beta</span>
    </a>
    <a class="card" target="_blank">
        <span>Definir cierre</span>
    </a>


</div>
